<!DOCTYPE html>
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout.html}">-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>COCA COLA AMATIL</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
  </head>

  <body>
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:text="${username}">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/retailindustry">Home</a></li>
              <li><a href="/retailindustry/productpage/product">Product</a></li>
              <li><a href="/retailindustry/transactionpage/transaction">Transactions</a></li>
    <!--          <li class="dropdown">-->
    <!--            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
    <!--               aria-expanded="false">Dropdown <span class="caret"></span></a>-->
    <!--            <ul class="dropdown-menu">-->
    <!--              <li><a href="#">Action</a></li>-->
    <!--              <li><a href="#">Another action</a></li>-->
    <!--              <li><a href="#">Something else here</a></li>-->
    <!--              <li role="separator" class="divider"></li>-->
    <!--              <li class="dropdown-header">Nav header</li>-->
    <!--              <li><a href="#">Separated link</a></li>-->
    <!--              <li><a href="#">One more separated link</a></li>-->
    <!--            </ul>-->
    <!--          </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/retailindustry/userpage/user">Users</a></li>
                <li><a href="/retailindustry/login">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>



      <!-- Main component for a primary marketing message or call to action -->
<!--      <img th:src="@{/images/home/home1.jpg}" class="d-block w-100">-->
        <div class="jumbotron" >

        <!-- Automatic Slideshow Images -->
            <div class="mySlides w3-display-container w3-center">
                <img th:src="@{/images/home/home1.jpg}" class="d-block w-100" width="100%" alt="...">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                </div>
            </div>
            <div class="mySlides w3-display-container w3-center">
                <img th:src="@{/images/home/home2.jpg}" class="d-block w-100" width="100%" alt="...">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                </div>
            </div>
            <div class="mySlides w3-display-container w3-center">
                <img th:src="@{/images/home/home3.jpg}" class="d-block w-100" width="100%" alt="...">
                <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

<!--        Slide Product Dan User-->
        <div class="container my-5">
          <div class="row text-center">
            <div class="col-sm-6">
              <div class="card">
                <img th:src="@{/images/home/Coca-cola_Product.png}" width="340px" height="340px" class="card-img-top" >
                <div class="card-body">
                  <a href="/retailindustry/productpage/product" class="btn btn-primary">View Product</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <img th:src="@{/images/home/Transactions.png}" width="340px" height="340px" class="card-img-top" >
                <div class="card-body">
                  <a href="/retailindustry/transactionpage/transaction" class="btn btn-primary">View Transactions</a>
                </div>
              </div>
            </div>
          </div>
        </div>
<!--        End Slide Product dan User-->
      </div>
    </div> <!-- /container -->

<!--    Bootstrap core JavaScript-->
<!--     ==================================================-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 4000);
    }
    </script>

  </body>
</html>